.container {
    width: max-content;
    background: pink;
    margin: auto;
}

.display {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 60px;
    background-color: pink;
    font-size: 58px;
}

.btns {
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
}

button {
    flex: 1 25%
}

.btn-operator {
    background-color: dimgray;
}

.btn-no {
    background-color: lightgrey;
}

.btn-clr {
    background-color: lightcoral;
}

.btn-eql {
    background-color: lightgreen;
}
